td {
  margin-left: 20px;
  margin-right: 20px;
}

table {
  width: 100%;
}

mat-drawer {
  width: 30%;
}

mat-drawer-content {
  min-height: 800px;
}

.refresh-btn {
  color: black;
}

// mat-card {
//   padding: px;
// }
