<mat-drawer-container>

  <mat-drawer mode="side" position="end" [opened]="true">
    <mat-card>
      <mat-card-title>Teams</mat-card-title>
    </mat-card>
    <table mat-table [dataSource]="teamsSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let team"> {{team.name}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let team"> {{team.location}} </td>
        </ng-container>

        <ng-container matColumnDef="dispatchBtn">
          <th mat-header-cell *matHeaderCellDef>

          </th>
          <td mat-cell *matCellDef="let emergency">
            <button name="btn" mat-raised-button color="accent" [disabled]="!isSelected"
              (click)="dispatch(emergency)"> <span name="btn"> Assign </span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="teamColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: teamColumns;"></tr>
      </table>
  </mat-drawer>

  <mat-drawer-content>
    <mat-card>
      <mat-card-title>
        Emergencies

      </mat-card-title>
    </mat-card>
    <table mat-table [dataSource]="emergencies" matSort>

      <!--  Location column  -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Location </th>
          <td mat-cell *matCellDef="let emergency"> {{emergency.location}} </td>
        </ng-container>

      <!--  Type column  -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> type </th>
          <td mat-cell *matCellDef="let emergency"> {{emergencyTypes[emergency.emergencyTypeId]}} </td>
        </ng-container>

      <!--  Description column  -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let emergency"> {{emergency.status}} </td>
        </ng-container>

      <!--  Report time column  -->
        <ng-container matColumnDef="reportTime">
          <th mat-header-cell *matHeaderCellDef> Report time </th>
          <td mat-cell *matCellDef="let emergency"> {{emergency.reportTime | date: 'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="ejectBtn">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button class="refresh-btn" (click)="loadData()">
              <mat-icon>refresh</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let emergency">
            <button name="btn" mat-raised-button color="warn" [disabled]="selectedEmergency != emergency"
              (click)="reject(emergency)"> <span name="btn"> Reject </span>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="dispatchBtn">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let emergency">
              <mat-radio-button (click)="selectEm(emergency)">
              </mat-radio-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="emergencyColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: emergencyColumns;"></tr>
      </table>
  </mat-drawer-content>

</mat-drawer-container>



