<mat-card>
  <mat-card-content>
    <h2>Check emergency status</h2>

    <form [formGroup]="form" (ngSubmit)="getEmergencyStatus()">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="PESEL" formControlName="pesel">
      </mat-form-field>

      <button class="submit-button" mat-raised-button color="primary" [disabled]="!form.valid">Send</button>
    </form>

    <div *ngIf="emergencyStatus != null">
      <p>Report date: {{ emergencyStatus.reportDate | date: 'short' }}</p>
      <p>Emergency location: {{ emergencyStatus.emergencyLocation }}</p>
      <p>Description: {{ emergencyStatus.description }}</p>
      <p>Status: {{ emergencyStatus.status }}</p>
      <p>Team name: {{ emergencyStatus.teamName }}</p>
      <p>Rescue team location: {{ emergencyStatus.teamLocation }}</p>
    </div>
  </mat-card-content>
</mat-card>
