<mat-card>
  <mat-card-content>
    <h2>Sprawdź status zgłoszenia</h2>

    <form [formGroup]="form" (ngSubmit)="getEmergencyStatus()">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Identyfikator" formControlName="pesel">
      </mat-form-field>

      <button class="submit-button" mat-raised-button color="primary" [disabled]="!form.valid">Wyślij</button>
    </form>

    <div *ngIf="emergencyStatus != null">
      <p>Czas zgłoszenia: {{ emergencyStatus.reportDate }}</p>
      <p>Miejsce zdarzenia: {{ emergencyStatus.emergencyLocation }}</p>
      <p>Opis: {{ emergencyStatus.description }}</p>
      <p>Status: {{ emergencyStatus.status }}</p>
      <p>Zespół ratunkowy: {{ emergencyStatus.teamName }}</p>
      <p>Lokalizacja zespołu ratunkowego: {{ emergencyStatus.teamLocation }}</p>
      <button mat-icon-button (click)="refreshStatus()"><mat-icon>refresh</mat-icon></button>
    </div>
  </mat-card-content>
</mat-card>
