<mat-card>
  <mat-card-content>

    <!--  Emergency report form  -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Report an emergency</h2>
      <!--      <button mat-button (click)="getLocation()">get geolocation</button>-->

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <mat-label>Emergency type</mat-label>
        <mat-select placeholder="Emergency type" formControlName="emergencyType">
          <mat-option *ngFor="let type of emergencyTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <label>
          <textarea rows="5" matInput formControlName="description"></textarea>
        </label>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!form.valid">Send</button>
    </form>

  </mat-card-content>
</mat-card>
